<div class="hero-unit">
  <h1>Welcome!</h1>
  <ul>
    <li>You've read a book? Add it to the list!</li>
    <li>You're reading? Share book with your friends!</li>
    <li>Want to read, but you don't know what? Find it out!</li>
    <li>Easy to use!</li>
    <li>And totally free!</li>
  </ul>
  <div class="btn-group">
    <a class="btn btn-primary btn-large" href=<%= #noinspection RubyResolve
                                                  signin_path %>>Sign in</a>
    <a class="btn btn-primary btn-large" href=<%= #noinspection RubyResolve
                                                  signup_path %>>Sign up</a>
  </div>
</div>