body {
    background-color: #AEA79F;
}

h1.shifted {
    margin-left: 18%
}

img.middle-sized {
    width: 100px
}

img.small-sized {
    width: 20px
}

img.icon {
    float: left;
}

.hidden {
    display: none;
}

#page {
    width: 90%;
    margin: 0 auto;
}

span.upper {
    vertical-align: super;
}

.show-switch {
    cursor: pointer;
}

.one-line {
    float: left;
}

td.medium {
    width: 60%;
}

.info-block {
    display: block;
    margin: 15% auto;
    width: 60%;
    text-align: center;
}

.google {
    color: #F90101;
}