<header>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/pages/home">Manager of e-books</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=<%= classes[:home] %>><a href="/pages/home">Home</a></li>
						<li class=<%= classes[:about] %>><a href="/pages/about">About</a></li>
						<li class=<%= classes[:contact] %>><a href="/pages/contact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="Search">
				</form>
			</div>
		</div>
	</div>
</header>