<% unless flash.now[:error].nil? %>
<div class="alert alert-error">
	<strong>Error!</strong> <%= flash.now[:error] %>
</div>
<% end %>
<% unless flash.now[:notice].nil? %>
<div class="alert">
	<strong>Warning!</strong> <%= flash.now[:notice] %>
</div>
<% end %>
<% unless flash.now[:success].nil? %>
<div class="alert alert-success">
	<strong>Success!</strong> <%= flash.now[:success] %>
</div>
<% end %>